
@{
    ViewData["Title"] = "Index";
}

@model KorbViewModell

<div class="row">

    <div class="col-md-8 offset-md-2">

        <div class="card">
            <div class="card-body">

                <h5 class="card-title">Korb</h5>

                @if (Model != null && Model.KorbGegenstande.Any())
                {
                    <table class="table table-striped">

                        <tr>
                            <th>Kursname</th>
                            <th>Kurspreis</th>
                            <th>Transaktionen</th>
                        </tr>

                        @foreach (var item in Model.KorbGegenstande)
                        {
                            <tr>
                                <td>@item.KursName</td>
                                <td>
                                    @item.RufAktuellenPreisAuf € @(Model.GabRabatt? $"(%{Model.DiskontSatz.Value} wurde angewendet)" : "")
                                </td>
                                <td>
                                    <a class="btn btn-danger" asp-controller="Korb" asp-action="KorbGegenstandEntfernen" asp-route-kursID="@item.KursID">Löschen</a>
                                </td>
                            </tr>
                        }

                        @if (Model.GabRabatt)
                        {

                            <tr>
                                <td>Diskontsatz</td>
                                <th colspan="2"> % @Model.DiskontSatz.Value</th>
                            </tr>

                        }

                        <tr>
                            <td>@(Model.GabRabatt ? "Herabgesetzter Preis" : "Gesamtpreis")</td>
                            <th colspan="2">@Model.Gesamtpreis €</th>
                        </tr>
                    </table>

                     <form asp-controller="Korb" asp-action="RabattAnwenden">
                        @if (Model.GabRabatt)
                        {
                            <div class="alert alert-success">
                                "@Model.RabattCode"indirim kodu uygulandı
                                <a asp-controller="Korb" asp-action="AngewandterRabattStornieren"> (Stornieren)</a>
                            </div>

                        }

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="RabattEingabeAnwenden.Code">
                            <button class="btn btn-outline-secondary" type="submit">Anwenden</button>
                        </div>

                        @if (TempData["rabattStatus"] != null && (bool)TempData["rabattStatus"] == false)
                        {
                            <div class="text-danger">Rabattcode ist ungültig</div>
                        }
                        @if (TempData["rabattFehler"] != null)
                        {
                            <div class="text-danger">@TempData["rabattFehler"]</div>
                        }
                    </form>
                  @*  <a class="btn btn-success" asp-controller="Bestellung" asp-action="Ausloggen">Zahlungsinformationen</a>
                    <a class="btn btn-warning" asp-controller="StartSeite" asp-action="Index">Stöbern Sie weiter in den Kursen.</a>*@
                    
                }
                else
                {
                    <div class="alert alert-info">Korb ist leer!</div>
                }
            </div>
        </div>
    </div>
</div>

